<h1>Data Importer</h1>
<div class="imports">
    <%= render "technicians/import_form" %>
    <%= render "locations/import_form" %>
</div>

<div class="imports">
    <%= render "technicians/delete_form" %>
    <%= render "locations/delete_form" %>
</div>

<div class="container">
    <!-- Technicians Section -->
    <h3>Technicians</h3>
    <table class="table table-striped technician-table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% @technicians.each do |technician| %>
                <tr>
                    <td><%= technician.name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <!-- Locations Section -->
    <h3>Locations</h3>
    <table class="table table-striped location-table">
        <thead>
            <tr>
                <th>Location</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <% @locations.each do |location| %>
                <tr>
                    <td><%= location.name %></td>
                    <td><%= location.city %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>